@import '../../../index.css';

@layer utilities {
  .filter-none {
    filter: none;
  }
  .brightness-50 {
    filter: brightness(50%);
  }
}

.ProseMirror {
  > * + * {
    margin-top: 0.75em;
  }
}

.ProseMirror h1.is-empty::before {
  @apply text-gray-300;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

.ProseMirror h2.is-empty::before {
  @apply text-gray-300;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

.ProseMirror h3.is-empty::before {
  @apply text-gray-300;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

.ProseMirror .is-editor-empty:first-child::before {
  @apply text-gray-300;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

.ProseMirror h1 {
  @apply font-bold font-main text-3xl text-gray-800;
}

.ProseMirror h2 {
  @apply font-bold font-main text-2xl text-gray-800;
}

.ProseMirror h3 {
  @apply font-bold font-main text-xl text-gray-800;
}

.ProseMirror p {
  @apply text-base text-gray-600 font-body;
}

.ProseMirror ul,
ol {
  display: list-item;
  padding: 0 1rem;
}
.ProseMirror li {
  display: list-item;
  list-style-type: disc;
}

.ProseMirror img {
  @apply py-3;
}

.ProseMirror pre {
  @apply my-2 text-base;
  background: #0d0d0d;
  color: #fff;
  font-family: 'JetBrainsMono', monospace;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
}

.hljs-comment,
.hljs-quote {
  color: #616161;
}

.hljs-variable,
.hljs-template-variable,
.hljs-attribute,
.hljs-tag,
.hljs-name,
.hljs-regexp,
.hljs-link,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class {
  color: #f98181;
}

.hljs-number,
.hljs-meta,
.hljs-built_in,
.hljs-builtin-name,
.hljs-literal,
.hljs-type,
.hljs-params {
  color: #fbbc88;
}

.hljs-string,
.hljs-symbol,
.hljs-bullet {
  color: #b9f18d;
}

.hljs-title,
.hljs-section {
  color: #faf594;
}

.hljs-keyword,
.hljs-selector-tag {
  color: #70cff8;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: 700;
}
