@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Gilroy ExtraBold - Subsetting : Latin */
  @font-face {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 800;
    font-display: optional;
    src: url('/fonts/Gilroy/gilroy-extrabold-latin.woff2') format('woff2');
  }

  /* Gilroy Bold - Subsetting : Latin */
  @font-face {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    font-display: optional;
    src: url('/fonts/Gilroy/gilroy-bold-latin.woff2') format('woff2');
  }

  /* Gilroy SemiBold - Subsetting : Latin */
  @font-face {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-display: optional;
    src: url('/fonts/Gilroy/gilroy-semibold-latin.woff2') format('woff2');
  }

  /* Inter Variable - Subsetting : Latin */
  @font-face {
    font-family: 'InterBody';
    font-style: normal;
    font-weight: 100 900;
    font-display: optional;
    src: url('/fonts/Inter/inter-var-latin.woff2') format('woff2');
  }
}

@layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }

  .filter-none {
    filter: none;
  }
  .brightness-50 {
    filter: brightness(50%);
  }
}

::-moz-selection {
  /* Code for Firefox */
  @apply bg-brand-alt;
  @apply text-background;
}

::selection {
  @apply bg-brand-alt;
  @apply text-background;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffffff;
  /* font-family: 'Nunito Sans', sans-serif; */
  font-family: 'Gilroy', sans-serif;
  @apply text-black;
}

.Toastify__toast {
  @apply bg-gray-100 !important;
  @apply w-full !important;
  @apply rounded-md !important;
  @apply border-gray-100 !important;
  @apply border-opacity-20 !important;
  @apply border !important;
}

.Toastify__toast-body {
  @apply w-full !important;
}

.unselectable {
  -khtml-user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.underline-link {
  padding-bottom: 1px;
  border-bottom: 1px dashed #000;
}

.remirror-theme {
  width: 100% !important;
  height: 100% !important;
}

.remirror-theme .ProseMirror {
  box-shadow: none !important;
}

.remirror-theme .ProseMirror ul > li {
  margin-left: 1.2em;
}

.remirror-theme .remirror-collapsible-list-item-button {
  background-color: #000 !important;
}

#font-picker {
  @apply block shadow-none w-full border border-gray-300 rounded-sm text-sm;
}

#font-picker .dropdown-button {
  @apply bg-transparent;
}

#font-picker .font-list {
  @apply bg-white mt-4;
}
