@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Gilroy ExtraBold - Subsetting : Latin */
  @font-face {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 800;
    font-display: optional;
    src: url('/fonts/Gilroy/gilroy-extrabold-latin.woff2') format('woff2');
  }

  /* Gilroy Bold - Subsetting : Latin */
  @font-face {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    font-display: optional;
    src: url('/fonts/Gilroy/gilroy-bold-latin.woff2') format('woff2');
  }

  /* Gilroy SemiBold - Subsetting : Latin */
  @font-face {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-display: optional;
    src: url('/fonts/Gilroy/gilroy-semibold-latin.woff2') format('woff2');
  }

  /* Inter Variable - Subsetting : Latin */
  @font-face {
    font-family: 'InterBody';
    font-style: normal;
    font-weight: 100 900;
    font-display: optional;
    src: url('/fonts/Inter/inter-var-latin.woff2') format('woff2');
  }
}

@layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
}

::-moz-selection {
  /* Code for Firefox */
  @apply bg-brand-alt;
  @apply text-background;
}

::selection {
  @apply bg-brand-alt;
  @apply text-background;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffffff;
  /* font-family: 'Nunito Sans', sans-serif; */
  font-family: 'Gilroy', sans-serif;
  @apply text-black;
}

.Toastify__toast {
  @apply bg-gray-100 !important;
  @apply w-full !important;
  @apply rounded-md !important;
  @apply border-gray-100 !important;
  @apply border-opacity-20 !important;
  @apply border !important;
}

.Toastify__toast-body {
  @apply w-full !important;
}

.unselectable {
  -khtml-user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.underline-link {
  padding-bottom: 1px;
  border-bottom: 1px dashed #000;
}

.remirror-theme {
  width: 100% !important;
  height: 100% !important;
}

.remirror-theme .ProseMirror {
  box-shadow: none !important;
}

.remirror-theme .ProseMirror ul > li {
  margin-left: 1.2em;
}

.remirror-theme .remirror-collapsible-list-item-button {
  background-color: #000 !important;
}

@layer utilities {
  .filter-none {
    filter: none;
  }
  .brightness-50 {
    filter: brightness(50%);
  }
}

.ProseMirror {
  > * + * {
    margin-top: 0.75em;
  }
}

.ProseMirror h1.is-empty::before {
  @apply text-gray-300;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

.ProseMirror h2.is-empty::before {
  @apply text-gray-300 font-main;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

.ProseMirror h3.is-empty::before {
  @apply text-gray-300;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

.ProseMirror .is-editor-empty:first-child::before {
  @apply text-gray-300;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

.ProseMirror h1 {
  @apply font-bold font-main text-3xl text-gray-800;
}

.ProseMirror h2 {
  @apply font-bold text-2xl font-main text-gray-800;
}

.ProseMirror h3 {
  @apply font-bold font-main text-xl text-gray-800;
}

.ProseMirror p {
  @apply text-base text-gray-600 font-body;
}

.ProseMirror ul,
ol {
  display: list-item;
  padding: 0 1rem;
}
.ProseMirror li {
  display: list-item;
  list-style-type: disc;
}

.ProseMirror img {
  @apply py-3;
}

.ProseMirror pre {
  @apply my-2 text-base;
  background: #0d0d0d;
  color: #fff;
  font-family: 'JetBrainsMono', monospace;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
}

.hljs-comment,
.hljs-quote {
  color: #616161;
}

.hljs-variable,
.hljs-template-variable,
.hljs-attribute,
.hljs-tag,
.hljs-name,
.hljs-regexp,
.hljs-link,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class {
  color: #f98181;
}

.hljs-number,
.hljs-meta,
.hljs-built_in,
.hljs-builtin-name,
.hljs-literal,
.hljs-type,
.hljs-params {
  color: #fbbc88;
}

.hljs-string,
.hljs-symbol,
.hljs-bullet {
  color: #b9f18d;
}

.hljs-title,
.hljs-section {
  color: #faf594;
}

.hljs-keyword,
.hljs-selector-tag {
  color: #70cff8;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: 700;
}
